* {
  box-sizing: border-box;
}

/*body {
  background-color: red;
}

h1 {
  color: white;
  background-color: purple;
  padding: 7px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

h1:before {
  content: "\e902";
  font-family: "icons";
  color: yellow;
  font-size: 60px;
}*/
